.feature-title-home{
    color:white;
    font-size: 4rem;
    font-weight: 700;
     max-width: 640px;
     margin: auto;
}
.feature-title-tag{
    color: white;
    font-size: 1.625rem;
    margin: 1rem auto;
    font-weight: 400;
}
.form-title{
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-top:40px;
   
}